/*===============================
=          About Aside          =
===============================*/

.about-aside {
  float: right;
  width: 250px;
  margin: 0 1em 1em;
  padding: 1em;
  background-color: $color__off-white;

  li,
  ul {
    @extend %facets__link-item--base;
    padding-left: 0;
    font-weight: normal;
    list-style: none;

    span {
      @extend %labeltext__subheading;
      @include font-size(12px);
      display: block;
      color: $color__astral;
      text-transform: uppercase;
    }
  }
}
