.layout-archive {
  .section-title {
    display: flex;
    line-height: 1.4;
    white-space: nowrap;
    text-transform: uppercase;
    @extend %facets__header-label;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      padding-top: 1.5rem;
    }
  }

  .trigger {
    position: absolute;
    visibility: hidden;
    opacity: 0;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      + .section-title {
        position: relative;
        justify-content: space-between;
        cursor: pointer;

        &::after {
          position: absolute;
          right: 0;
          content: '\f006';
          display: inline-block;
          font-family: 'radar';
        }
      }

      &:not(#archive__filter-type) + .section-title {
        padding-bottom: 1.5rem;
      }

      &:checked:not(#archive__filter-type) + .section-title {
        position: relative;

        &::after {
          position: absolute;
          bottom: 0;
          left: -#{content-padding('small')};
          width: 100vw;
          border-bottom: 1px solid $color__gray;
          content: '';
        }
      }

      &:not(:checked) {
        ~ [id^='filter__content-brief-'] {
          padding-bottom: 0.8rem;
        }

        ~ .widget:not([id^='filter__content-brief-']) {
          display: none;
        }
      }
    }
  }

  .ais-root {
    cursor: pointer;
  }

  .ais-refinement-list--item {
    @include breakpoint($break: 'medium', $dir: 'max-width') {
      margin: 0.3rem 0;
      line-height: 1.2;
    }
  }

  .ais-pagination {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.2rem;
    padding-left: 0;
    line-height: 0;

    button {
      padding: 0;
      color: $color__orange-light;
      border: 0;
      @include font-size(24px);
    }

    &--item,
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: $color__orange;
      border-radius: 50%;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        color: $color__white;
        font-weight: bold;
        background-color: $color__orange-dark;
      }
    }

    &--item {
      margin-right: 0.5rem;

      &__active {
        color: $color__orange-dark;
        font-weight: bold;
        background-color: $color__white;
      }

      &__disabled {
        display: none;
      }
    }
  }

  .algolia--is-hidden {
    display: none;
  }

  .ais-search-box--reset {
    max-width: 30px;
    background-color: transparent;
  }
}

.archive__filter-type {
  @include breakpoint($break: 'medium', $dir: 'max-width') {
    border-bottom: 1px solid $color__gray;
  }

  @include breakpoint('medium') {
    display: flex;
    padding-top: 20px;
    padding-bottom: 16px;

    .ais-refinement-list {
      &--list {
        display: flex;
      }

      &--item {
        padding-left: 20px;
      }
    }
  }

  .section-title {
    @include breakpoint($break: 'medium', $dir: 'max-width') {
      padding-top: 0.8rem;
    }

    @include breakpoint('medium') {
      position: relative;
      padding-right: 20px;
    }

    &::after {
      top: 75%;

      @include breakpoint('medium') {
        content: '';
        position: absolute;
        top: 0;
        left: calc(100% - 10px);
        height: calc(100% + 20px);
        border-right: 1px solid $color__gray-light;
      }
    }
  }

  [id^='filter__content-brief-'] {
    display: inline-block;
  }

  .ais-refinement-list--item,
  .ais-clear-all--body {
    @extend %facets__link-item--base;
    white-space: nowrap;
    text-transform: uppercase;

    &__active {
      color: $color__astral;
    }
  }
}

.archive__sidebar {
  @include breakpoint('medium') {
    padding-top: 2rem;
  }

  .section-title {
    @include breakpoint('medium') {
      margin-bottom: 0.5rem;
      @include font-size(16px);
    }
  }

  .widget {
    margin-bottom: 0.8rem;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      &:first-of-type {
        margin-top: 1.5rem;
      }
    }
  }

  .ais-search-box {
    position: relative;
    display: flex;
    margin-top: -0.4rem;
    padding: 0.3rem 0.5rem;
    background-color: $color__white;
    border: 1px solid $color__gray-light;
    border-radius: 100px;

    &--input {
      width: calc(100% - 1.5rem);
      margin-left: 1.5rem;

      &:focus + .ais-search-box--magnifier-wrapper::before {
        color: $color__bluegray;
      }
    }

    &--magnifier-wrapper {
      position: relative;
      order: -1;

      svg {
        display: none;
      }

      &::before {
        position: absolute;
        display: block;
        color: $color__gray-light;
        font-family: 'radar';
        transition: all 0.3s ease-in-out;
        content: '\ed2f';
      }
    }
  }

  .ais-header {
    @extend %facets__group-label--base;
    font-weight: bold;
    text-transform: uppercase;

    i::before {
      font-weight: normal;
    }
  }

  .ais-root__collapsed .ais-body {
    display: none;
  }

  .ais-root {
    .icon-angle-sm-right::before {
      transition: all 0.3s ease-in-out;
    }

    &:not(.ais-root__collapsed) .icon-angle-sm-right::before {
      transform: rotate(90deg);
    }
  }

  .ais-clear-all {
    @extend %facets__clear;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      text-align: center;
    }
  }
}

.archive__results {
  display: flex;
  justify-content: space-between;
  color: $color__orange-lighter;

  @include breakpoint($break: 'medium', $dir: 'max-width') {
    flex-wrap: wrap;
  }

  .summary-text {
    color: $color__white;
  }

  .summary-label {
    font-style: italic;
  }

  #results__summary > div {
    display: inline-block;
  }

  #results__sort {
    .sort {
      text-transform: uppercase;
    }

    .selected-sort {
      font-weight: bold;
      cursor: default;
    }
  }
}

.archive--search {
  .archive__search-label {
    @extend %labeltext__label;
    color: $color__bluegray-light;
  }

  .ais-search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
    border-bottom: 1px solid $color__bluegray;

    &--magnifier-wrapper {
      position: relative;

      svg {
        display: none;
      }

      &::before {
        position: absolute;
        right: 100%;
        display: block;
        color: $color__gray-light;
        font-family: 'radar';
        transition: all 0.3s ease-in-out;
        content: '\ed2f';
      }
    }

    &--input {
      width: calc(100% - 1.5rem);
      color: $color__white;
      @extend %page__title;
    }
  }
}
