/*===============================
=         Aside Heading         =
===============================*/

.aside-heading {
  display: none;
  float: right;
  width: 230px;
  margin: 0 1em 1em 1em;
  padding: 1em;
  background-color: $color__off-white;

  @include breakpoint('medium') {
    display: inline;
  }

  li,
  ul {
    padding-left: 0;
    list-style: none;
  }

  &__list {
    ul {
      @extend %labeltext__subheading;
      @include font-size(12px);
      color: $color__astral;
      text-transform: uppercase;
    }
  }

  &__detail {
    li,
    a {
      @extend %facets__link-item--base;
      font-weight: normal;
      text-transform: none;
      box-shadow: none;
    }
  }
}
