.aside-heading {
  padding: 1em;
  width: 200px;
  background-color: $color__off-white;
  float: right;

  li,
  ul {
    padding-left: 0;
    list-style: none;
  }

  &__detail {
    color: $color__astral;
    text-transform: uppercase;
    @extend %labeltext__subheading;

    li {
      @extend %facets__link-item--base;
      @include font-size(16px);
      text-transform: none;
    }
  }
}
