/*===============================
=         Authors Block         =
===============================*/

.authors-block {
  padding-bottom: 1rem;

  &__title {
    @extend %h2--thin;
    padding-bottom: 0.5rem;
    text-transform: uppercase;

    .final-report & {
      margin-bottom: 0.875rem;
      padding-bottom: 0;
      color: $color__orange;
    }
  }

  &__name,
  &__name:visited {
    @extend %about-person__name--base;
    color: $color__astral;

    .final-report & {
      color: $color__off-white;
    }

    &:hover {
      color: $color__orange;
    }
  }

  &__role {
    @extend %about-person__title;
    display: block;
    color: $color__gray-darker;

    .final-report & {
      margin-bottom: 2rem;
      color: $color__bluegray-light;
    }
  }

  &__bio {
    @extend %body-text;
    padding-top: 0.5rem;
  }
}
