.breadcrumbs {
  &__past {
    @extend %breadcrumbs__past;

    &::after {
      content: ' /';
      @extend %breadcrumbs__past;
      display: inline-block;
      white-space: pre;
    }
  }

  &__present {
    @extend %breadcrumbs;
  }
}
