/*===============================
=            Buttons            =
===============================*/

.btn {
  @extend %button;
  display: inline-block;
  padding: 8px 16px;
  color: $color__black;
  text-align: center;
  background-color: $color__off-white;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color__gray;
  }

  &.btn--transparent {
    padding: 0;
    background-color: transparent;
  }

  &-download {
    display: table;
    margin: auto;
  }
}
