.footnotes {
  ol {
    margin-top: 1.5rem;
    padding-left: 1rem;
  }

  .post-content & p {
    @extend %footnotes;
    word-break: break-word;
  }

  a:not([class]) {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  li {
    @include font-size(16px);
    color: $color__orange;
  }
}

.footnote,
.reversefootnote {
  padding-left: 0.125rem;
  font-weight: bold;

  &,
  &:visited {
    color: $color__orange;
  }

  &:hover {
    color: $color__orange-dark;
  }
}

.post__content > p:last-of-type + hr {
  display: none;
}
