.keywords {
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
    color: $color__white;
    list-style-type: none;
  }

  li {
    justify-content: space-between;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.3em 0.6em;
    text-transform: lowercase;
    list-style-type: none;
    background-color: $color__blue;
    border-radius: 15px;
  }
}
