.keywords {
  ul {
    @extend %tag;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
    list-style-type: none;
  }

  li {
    justify-content: space-between;
    margin-right: 5em;
    margin-bottom: 0.75em;
    padding: 0.4em 0.7em;
    text-transform: lowercase;
    list-style-type: none;
    background-color: $color__blue;
    border-radius: 15px;

    &:hover {
      background-color: $color__astral-dark;
      transition: all 0.3s ease-in-out;
    }

    $sizes: ('xsmall', 'small', 'medium');
    @each $size in $sizes {
      margin-right: 5em;
    }
  }
}
