.keywords {
  @extend %tag;
  margin: 0 0 0.5625rem;
  padding: 0;
  text-align: left;
  list-style-type: none;

  li {
    justify-content: space-between;
    margin: 0 0.88rem 1.15rem 0;
    text-transform: lowercase;
    list-style-type: none;
  }

  a {
    padding: 0.1rem 0.7rem 0.25rem;
    background-color: $color__blue;
    border-radius: 15px;

    &:hover {
      background-color: $color__astral-dark;
      transition: all 0.3s ease-in-out;
    }
  }

  @include breakpoint('medium') {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}
