.ais-pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0.2rem 0 0;
  padding-left: 0;
  line-height: 0;

  button {
    padding: 0;
    color: $color__orange-light;
    border: 0;
    @include font-size(24px);
  }

  &--item,
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: $color__orange;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      color: $color__white;
      font-weight: bold;
      background-color: $color__orange-dark;
    }
  }

  &--item {
    margin-right: 0.5rem;

    &__active {
      color: $color__orange-dark;
      font-weight: bold;
      background-color: $color__white;
    }

    &__disabled {
      display: none;
    }
  }
}
