/*===============================
=         Photo Caption         =
===============================*/

.photo-caption {
  @extend %labeltext__label;
  padding-top: 1rem;

  i {
    margin: 0;
    padding: 0;
    color: $color__orange;
  }

  .icon-arrow-down {
    display: inline;
    @include breakpoint('medium') {
      display: none;
    }
  }

  .icon-arrow-left {
    display: none;
    @include breakpoint('large') {
      display: inline;
    }
  }

  .icon-arrow-right {
    display: none;
    @include breakpoint($break: 'medium', $until: 'large') {
      display: inline;
    }
  }
}
