.post-block {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $color__gray;

  .ais-hits--item:first-of-type & {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }

  &[data-content-type='resources'] {
    position: relative;
    border-top: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: -2rem;
      width: 100px;
      height: 1px;
      background-color: $color__gray;
    }
  }

  &__featured {
    margin-right: 0.5rem;
    @extend %post-block__featured;
    text-transform: uppercase;
  }

  &__header {
    @include font-size(14px);
    @include breakpoint('medium') {
      @include font-size(16px);
    }
  }

  &__title {
    @extend %post-block__title;
    margin-bottom: 0.5rem;

    &--featured {
      @extend %post-block__title--featured;
    }
  }

  &__img {
    float: right;
    max-width: 33%;
    margin-bottom: 1rem;
    margin-left: 2rem;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    margin-top: 1rem;
  }

  &[data-content-type='resources'] .post-block__content {
    margin-top: 0;
  }
}
