/*============================
=        Post Meta           =
============================*/

.post__meta {
  @extend %labeltext__text;
  position: relative;

  &-label {
    @extend %labeltext__label;
    color: $color__gray-dark;

    .home__featured & {
      @include font-size(16px);
      color: $color__bluegray-light;
    }

    .final-report & {
      color: $color__bluegray-light;
    }
  }
}

.authors {
  a:hover {
    color: $color__orange;
  }
}
