/*============================
=       Post Details         =
=      Post Downloads        =
=       Post Related         =
============================*/

.post__details {
  &-list {
    @extend %facets__section-title;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    list-style: none;

    ul,
    li {
      padding: 0;
      list-style: none;
    }

    i {
      color: $color__orange;
    }
  }

  &-item {
    @extend %labeltext__subheading;
    margin: 0 0 0.5rem 0;

    .post-details {
      margin: 0.5rem 0 0 0;
    }

    li {
      @extend %labeltext__list;
      margin: 0.1rem 0;
      font-weight: 300;
      text-transform: none;
    }
  }

  &-styled {
    &:hover {
      color: $color__orange;
      transition: inherit;

      i {
        color: $color__orange-dark;
        transition: inherit;
      }
    }
  }

  @include breakpoint($break: 'medium', $until: 'large') {
    &-item.flex {
      display: flex;
      flex-flow: row wrap;

      .post-details {
        flex: 0 0 33%;
        flex-direction: column;
        width: 30%;
        padding: inherit;
      }

      li {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
}
