.related-posts {
  display: flex;

  @include breakpoint('medium', 'max-width') {
    flex-wrap: wrap;
  }

  &__block {
    position: relative;
    flex-grow: 1;
    max-width: 300px;
    min-height: 200px;
    padding: 1.33rem;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;

    @include breakpoint('small') {
      flex-basis: 0;
    }

    &:not(:last-child) {
      @include breakpoint('medium', 'max-width') {
        margin-bottom: 0.4rem;
      }
      @include breakpoint('medium') {
        margin-right: 0.4rem;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color__blue, 0.72);
      transition: background-color 0.3s ease-in-out;
      content: '';
    }

    &:hover::before {
      background-color: rgba($color__blue, 0.89);
    }

    &__header {
      position: relative;

      &,
      a {
        height: 100%;
      }

      a {
        display: block;
      }
    }

    &__title {
      @extend %h2--medium;
      color: $color__white;

      @include breakpoint('large', $until: 'large-3') {
        hyphens: auto;
      }
    }

    .last-modified {
      color: $color__white;

      .post__meta-label {
        color: $color__bluegray-light;
      }
    }
  }
}
