/*=======================================
=            Site Navigation            =
=======================================*/

.site-nav {
  @extend %button;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}
