/*==================================
=          Social Share            =
==================================*/

.share {
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  i {
    @include font-size(16px);
    transition: inherit;
  }

  .icon-link {
    transition: color 0.3s ease-in-out;
  }

  .post__meta & {
    display: none;

    @include breakpoint('large') {
      position: absolute;
      right: 1rem;
      display: block;
    }

    li {
      margin-bottom: 1rem;
    }

    i {
      color: $color__blue;

      &:hover {
        color: $color__orange;
        cursor: pointer;
      }
    }
  }

  .post__footer & {
    ul {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 0.5em;
      border-bottom: 1px solid $color__gray-light;

      @include breakpoint('medium') {
        justify-content: left;
      }
    }

    li {
      margin-right: 1rem;
    }

    i {
      @include font-size(18px);
      color: $color__blue;

      &:hover {
        color: $color__orange;
        cursor: pointer;
      }
    }
  }

  .final-report & {
    ul {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 0.5rem;

      @include breakpoint('medium') {
        justify-content: left;
      }
    }

    li {
      margin-right: 0.75rem;

      &:first-of-type {
        margin-right: 0.5rem;
        margin-left: -0.4em;
      }
    }

    i {
      @include font-size(18px);
      color: $color__orange;

      &:hover {
        color: $color__white;
        cursor: pointer;
      }
    }
  }
}
