{% assign siteLink = site.link %}

<aside class="about-aside">
<img src="{{ 'assets/images/logos/ngnn/NGNN-logo-light.svg' | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}" class="" />
  <ul>
    <li>
      <span>{{ site.data.language.heading_aside.website }}</span>
      <a href="https://{{ site.data.language.heading_aside.ngnn_url }}" rel="nofollow" target="_blank" class="about-aside__link">{{ site.data.language.heading_aside.ngnn_url }}</a>
    </li>
    <li>
      <span>{{ site.data.language.heading_aside.email }}</span>
      <a href="mailto:{{ site.data.language.email }}?subject={{ site.title | escape }}&amp;body={{ siteLink }}" aria-label="Email Project on Nuclear Issues" class="about-aside__link">{{ site.data.language.email }}</a>
    </li>
    <li>
        <span>{{ site.data.language.heading_aside.phone }}</span>
        {{ site.data.language.phone_number }}
    </li>
  </ul>
</aside>
