<div class="aside-heading">
<img src="{{ 'assets/images/logos/otr/otr-logo_sm_full_dark.svg' | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}" class="" />
  <ul>
    <li class="aside-heading__list">
      <ul class="aside-heading__detail">{{ site.data.language.heading_aside.website }}
        <li>{{ site.data.language.url }}</li>
      </ul>
    </li>
    <li class="aside-heading__list">
      <ul class="aside-heading__detail">{{ site.data.language.heading_aside.email }}
        <li>{{ site.data.language.email }}</li>
      </ul>
    </li>
    <li class="aside-heading__list">
      <ul class="aside-heading__detail">{{ site.data.language.heading_aside.phone }}
        <li>{{ site.data.language.phone_number }}</li>
      </ul>
    </li>
  </ul>
</div>
