

{% assign authors_list = page.authors %}
{% if post.authors.size > 0 %}
  {% assign authors_list = post.authors %}
{% endif %}

{% assign authors_with_bios = "" | split,"" %}
{% for author in authors_list %}
  {%- assign author_info = site.authors | where_exp: "a", "a.content.size > 10"  | where_exp: "a", "a.relative_path == author" | first -%}
  {% if author_info %}
    {% assign authors_with_bios = authors_with_bios | push:author_info %}
  {% endif %}
{% endfor %}

{% if authors_with_bios.size > 0 %}
<div class="authors-block">
  <h2 class="authors-block__title">{{ site.data.language.about_authors }}</h2>
  {% for author in authors_with_bios %}
    <a href="{{ author_info.url | relative_url }}" class="authors-block__name">{{ author.title }}</a>
    <span class="authors-block__role">{{ author.role }}</span>
    <p class="authors-block__bio">{{ author.content }}</p>
  {% endfor %}
</div>
{% endif %}
