{% if post.collection.size > 0 %}
  {% assign page = post %}
{% endif %}

{% assign breadcrumb_past = site.collections | where: "label", page.collection | first %}
<!-- {% unless post.layout == 'archive' %}
  {% assign breadcrumb_past = page.title %}
{% endunless %} -->

{% assign breadcrumb_present = post.collection | minus: 1 %}

<div class="breadcrumbs">
  <span class="breadcrumb__past">{{}}{{ breadcrumb_past }} {{ site.data.language.slash }} </span>
  {{ page.collection }}
  {{ breadcrumb_present | capitalize }}
</div>
