{% if include.postInfo.collection == 'resources' %}
  {% assign content_type_primary = include.postInfo.type %}
{% else %}
  {% assign content_type_path = site.collections | where: "label", include.postInfo.collection | first %}
  {% assign content_type_primary = content_type_path.title %}
{% endif %}

{% if include.postInfo.collection == 'briefs' %}
  {% assign content_type_secondary = include.postInfo.brief_type %}
{% else %}
  {% assign content_type_secondary = null %}
{% endif %}

<span class="content-type">
  {{ content_type_primary }}
  {% if content_type_secondary.size > 0 %}
    <span class="content-type__secondary">
      {{ site.data.language.dash }}
      {{ content_type_secondary }}
    </span>
  {% endif %}
</span>
