{% if post.collection.size > 0 %}
  {% assign page = post %}
{% endif %}
{% if page.collection == 'posts' %}
  {% assign content_type_primary = 'Analysis' %}
  {% assign content_type_secondary = null %}
{% elsif page.collection == 'briefs' %}
  {% assign content_type_primary = 'Issue Brief' %}
  {% assign content_type_secondary = 'Tech Brief' | where: brief_type, "Tech Brief" %}
  {% assign content_type_secondary = 'Country Profile' | where: brief_type, "Country Profile" %}
  {% unless page.layout == 'page' %}
    {% assign content_type_primary = 'Info Brief' %}
    {% assign content_type_secondary = 'Tech Primer' | where: brief_type, "Tech Brief" %}
    {% assign content_type_secondary = 'Country Profile' | where: brief_type, "Country Profile" %}
  {% endunless %}
{% elsif page.collection == 'workshops' %}
  {% assign content_type_primary = 'Workshop' %}
  {% assign content_type_secondary = null %}
{% elsif page.collection == 'resources' %}
  {% assign content_type_primary = 'Resource' %}
  {% assign content_type_secondary = page.type %}
{% else %}
  {% assign content_type_primary = null %}
  {% assign content_type_secondary = null %}
{% endif %}

<span class="content-type">
  {{ content_type_primary }}
  {% if content_type_secondary.size > 0 %}
    {{ site.data.language.dash }}
    {{ content_type_secondary }}
  {% endif %}
</span>
