{% if page.collection == 'posts' %}
  {% assign details = page.categories %}
{% elsif page.collection == 'authors' %}
  {% assign details = null %}
{% else %}
  {% assign details = page.details %}
{% endif %}

{% if details %}
  <div class="details">
    <div class="details__title">{{ site.data.language.details.title }}</div>
      {% if page.collection == 'posts' %}
        <div class="details__subtitle">{{ site.data.language.details.categories }}</div>
        {% for detail in details %}
          <div class="details__type">{{ detail }}</div>
        {% endfor %}
      {% else %}
        {% for detail in details %}
          <div class="details__info">
            <div class="details__subtitle">{{ detail[0] | replace: "_", " " | title }}</div>
            {% for sub_detail in detail[1] %}
              <div class="details__type">{{ sub_detail }}</div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
  </div>
{% endif %}
