<div class="report-downloads">
  <div class="report-downloads__item report-downloads__final">
    <a href=""><img
        src="https://res.cloudinary.com/csisideaslab/image/upload/v1582664692/on-the-radar/OTR-final-report_rvqzio.jpg"
        class="report-downloads__cover" alt="" title="Final Report: Under the Nuclear Shadow" /></a>
    <a href="" class="report-downloads__link">Full Report <img src="/assets/images/download-btn.svg"
        alt="Download the full report." title="Download the full report." /></a>
  </div>
  <div class="report-downloads__item report-downloads__findings">
    <a
      href="https://res.cloudinary.com/csisideaslab/image/upload/v1582040418/on-the-radar/OTR_UnderNuclearShadow_Booklet_WEB_kr1t0r.pdf"><img
        src="https://res.cloudinary.com/csisideaslab/image/upload/v1582664692/on-the-radar/OTR_Booklet_Cover_f8q1mp.jpg"
        class="report-downloads__cover" alt="" title="Key Takeaways from Under the Nuclear Shadow" /></a>
    <a href="https://res.cloudinary.com/csisideaslab/image/upload/v1582040418/on-the-radar/OTR_UnderNuclearShadow_Booklet_WEB_kr1t0r.pdf"
      class="report-downloads__link">Key Takeaways <img src="/assets/images/download-btn.svg"
        alt="Download the Key Takeaways." title="Download the key takeaways." /></a>
  </div>
</div>