<header class="site-header" role="banner">
  <div class="wrapper--expanded">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-header__title" rel="author" href="{{ "/" | relative_url }}">
      <img src="{{ 'assets/images/logos/otr/otr-logo_sm_full_light.svg' | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}" class="site-header__logo site-header__logo--mobile" />
      <img src="{{ 'assets/images/logos/otr/otr-logo_lg_full_light.svg' | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}" class="site-header__logo site-header__logo--full" />
      <img src="{{ 'assets/images/logos/otr/otr-logo_lg_half_light.svg' | relative_url }}" alt="{{ site.title }}" title="{{ site.title }}" class="site-header__logo site-header__logo--half" />
    </a>
    <nav class="site-header__nav" role="navigation">
      <button class="site-header__nav-trigger" aria-expanded="false" aria-label="Toggle Menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
        <span class="visually-hidden">Menu</span>
      </button>
      {% include site-nav.html class="header__nav-menu" location="inHeader" %}
    </nav>
    {% include header-search.html %}
    <div class="site-header__secondary">
      <div class="site-header__tagline">{{ site.data.language.tagline }}</div>
      <div class="site-header__breadcrumbs">{% include breadcrumbs.html %}</div>
    </div>
  </div>
</header>
