<section class="page__header">
  {%- if page.permalink == '/search/' -%}
    <label class="archive__search-label">Search &mdash;</label>
      <input id="search-input" class="archive__search-input" placeholder="{{ site.data.language.archive.search_placeholder }}">
  {%- else -%}
    <h1 class="page__title" itemprop="name headline">{{ page.title | escape }}</h1>
  {%- endif -%}

  {% assign content = content | strip_newlines %}
  {%- if content != '' and page.layout != 'page' -%}
    {%- if page.collection == 'authors' -%}
      <div class="page__desc">{{ page.role }}</div>
    {%- else -%}
      <div class="page__desc">{{ content }}</div>
    {%- endif -%}
  {%- endif -%}
  {%- if page.social_in_header -%}
    {%- include social-share.html -%}
  {%- endif -%}
</section>
