{% assign details = page.details %}
{% if page.collection == 'posts' %}
  {% assign details = page.categories %}
{% endif %}

{% if details.size > 0 %}
  {{ site.data.language.details.title }}
  <li class="post__details-item flex">
    {% if page.collection == 'posts' %}
      <ul class="post-details">
        {{ site.data.language.details.categories }}
        {% for detail in details %}
          <li>{{ detail }} hello</li>
        {% endfor %}
      </ul>
    {% else %}
      {% for detail in details %}
        {% if detail[1].size > 0 %}
          {% if page.collection == 'workshops' %}
            <ul class="post-details">
              {{ site.data.language.event_date | replace: "_", " " }}
              <li>{{ page.details.event_date | date: site.date_format }}</li>
            </ul>
          {% endif %}
          <ul class="post-details">
            {{ detail[0] | replace: "_", " " }}
            {% for subdetail in detail[1] %}
              <li>{{ subdetail }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  </li>
{% endif %}
