<article class="post-block {{ include.class }}" role="article" data-content-type="{{ post.collection | slugify }}">
  {% if include.show_image and post.image.size > 0 %}
  <a href="{{ post.url | relative_url }}" class="post-block__img"><img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" title="{{ post.title | escape }}" /></a>
  {% endif %}
  <header class="post-block__header" role="header">
      Featured &mdash; Content Type
    <h2 class="post-block__title"><a href="{{ post.url | relative_url }}">
      {{ post.title | escape }}
    </a></h2>
      {%- include authors-list.html authors=post.authors -%}
      {{page.authors}}
      Date<br />
  </header>
  {% if include.hide_excerpt != true %}
    <section class="post-block__content">
      <p>{{ post.excerpt }}</p>
    </section>
  {% endif %}
</article>
