{% assign downloads = page.downloads %}
{% if page.collection == 'posts' or page.collection == 'resources' %}
  {% assign downloads = null %}
{% endif %}

{% if downloads.size > 0 %}
  <li class="post__details-item">
  {{ site.data.language.details.downloads }}
    <ul class="post-details">
      {% for download in downloads %}
        <li class="post-downloads"><a href={{ download.media_upload }}>{{ download.label }} <i class="icon icon-download"></i></a></li>
      {% endfor %}
    </ul>
  </li>
{% endif %}
