{% assign maxRelated = 3 %}
{% assign minCommonKeywords = 1 %}
{% assign maxRelatedCounter = 0 %}

{% if post.collection == 'posts' %}
<div class="related-posts">

  {% for post in site[post.collection] reversed %}
    {% assign sameKeywordCount = 0 %}

    {% for keywords in post.keywords %}
      {% if post.url != page.url %}
        {% if page.keywords contains keywords %}
          {% assign sameKeywordCount = sameKeywordCount | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameKeywordCount >= minCommonKeywords %}
      {%- include related-posts-block.html -%}
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}
</div>

{% elsif post.collection == 'briefs'  %}

  {%- assign related_posts = site.posts | where_exp:"analysis", "analysis.related_briefs contains post.relative_path" -%}
  {% if related_posts.size > 0 %}
    <section class="post__related-block">
      <h2 class="post__related-reading">
        {{ site.data.language.related_reading }}
      </h2>
      
      <div class="related-posts">
      {% for post in related_posts reversed %}
        {%- include related-posts-block.html -%}
      {% endfor %}
      </div>
    </section>
  {% endif %}

{% endif %}
