{% if site.url.size > 0 %}
{% assign shareLink = site.url | append: page.url %}
{% else %}
{% assign shareLink = "https://ontheradar.csis.org" | append: page.url %}
{% endif %}

<div class="share">
  <ul>
    <li>
      <a href="https://www.facebook.com/sharer.php?u={{ shareLink }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="icon icon-facebook"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title | escape }}&url={{ shareLink }}&via=CSIS&related=CSIS" rel="nofollow" target="_blank" title="Share on Twitter"><i class="icon icon-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ include.shareLink | absolute_url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><i class="icon icon-linkedin"></i></a>
    </li>
    <li>
      <a href="mailto:?subject={{ site.title | escape }}: {{ page.title | escape }}&amp;body={{ shareLink }}"><i class="icon icon-email-plane"></i></a>
    </li>
    <li>
      <a href="javascript:shareLink('https://nuclearnetwork.csis.org/wrong-response-russias-inf-treaty-violation/')"><i class="icon icon-link" id="share-link"></i></a>
    </li>
  </ul>
</div>
