// Rem output with px fallback
@mixin font-size($size) {
  font-size: $size; //Fallback in px
  font-size: calculate-rem($size);
}

// Center block
@mixin center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// Clearfix
@mixin clearfix() {
  content: '';
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

// Breakpoints
// $break: Breakpoint to use
// $dir: 'min-width' or 'max-width'
// $until: Maximum width
// @include breakpoint('medium');
// @include breakpoint($break: 'medium', $until: 'large');
// @include breakpoint($break: 'medium', $dir: 'max-width');
@mixin breakpoint($break, $dir: 'min-width', $until: null) {
  @if not map-has-key($breakpoints, $break) {
    $break: $break;
  } @else {
    $break: map-get($breakpoints, $break);
  }

  @if $break and $until {
    @if not map-has-key($breakpoints, $until) {
      $until: $until;
    } @else {
      $until: map-get($breakpoints, $until);
    }

    @media screen and (min-width: $break) and (max-width: $until) {
      @content;
    }
  } @else {
    @media screen and ($dir: $break) {
      @content;
    }
  }
}

// Box Shadow
/* @include box-shadow(1px,1px,1px,0, #fff, true); */
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
  @if $inset {
    box-shadow: inset $top $left $blur $size $color;
  } @else {
    box-shadow: $top $left $blur $size $color;
  }
}

// Extend Background to full width of window
@mixin full-width-background($background, $direction: '') {
  $width_forumula: calc((100vw - 100%) / 2);
  position: relative;
  margin: 0 auto;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: $width_forumula;
    height: 100%;
    background-color: $background;
  }

  &::before {
    right: 100%;
  }

  &::after {
    left: 100%;
  }

  @if $direction == left {
    &::before {
      width: calc(#{$width_forumula} - 50%);
    }

    &::after {
      display: none;
    }
  } @else if $direction == right {
    &::after {
      width: calc(#{$width_forumula} - 50%);
    }

    &::before {
      display: none;
    }
  }
}

// Displays the dark orange sidebar in header and page footer
@mixin orange-side-bar($direction: right, $width: 20px, $height: 200px, $vertical: top) {
  content: '';
  position: absolute;
  #{$vertical}: 0;
  #{$direction}: -#{$width};
  display: block;
  width: $width;
  height: $height;
  background-color: $color__orange-dark;
}

@mixin archive-padding() {
  padding-right: content-padding('small');
  padding-left: content-padding('small');
  
  @include breakpoint('medium') {
    padding-right: $size__archive-content-padding;
    padding-left: $size__archive-content-padding; 
  }
}
