/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/

$color__black: #000;
$color__white: #fff;
$color__orange: #f05e39;
$color__orange-lighter: #fff1ed;
$color__orange-light: #ffbfaf;
$color__orange-dark: #ca3813;
$color__blue: #163a59;
$color__blue-dark: #0f283e;
$color__astral: #247590;
$color__astral-dark: #1a576b;
$color__astral-darkest: #185062;
$color__bluegray: #8a9dab;
$color__bluegray-light: #b4bcc8;
$color__off-white: #f2f2f2;
$color__gray-lighter: #e5e5e5;
$color__gray-light: #ccc;
$color__gray: #b2b2b2;
$color__gray-dark: #6d6d6d;
$color__gray-darker: #555;
$color__off-black: #333;

$color__background-body: $color__blue-dark;
$color__background-screen: $color__white;
$color__background-hr: $color__black;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $color__black;
$color__text-input: $color__black;
$color__text-input-focus: $color__black;
$color__link: $color__black;
$color__link-visited: $color__black;
$color__link-hover: $color__black;
$color__text-main: $color__black;

$color__border-input: $color__black;
$color__border-abbr: #666;

/*----------  Typography  ----------*/

$font__ptsans: pt-sans, Arial, sans-serif;
$font__lato: lato, Helvetica, Tahoma, sans-serif;
$fontello_url: '../fonts/';

$font__main: $font__ptsans;
$font__code: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', Courier, monospace;
$font__line-height-body: 1.67;
$font__line-height-pre: 1.6;

/*----------  Structure  ----------*/

$breakpoints: (
  'xlarge': 82em,
  'large-2': 53.125em,
  'large': 48.063em,
  'medium': 33.75em,
  'small': 26em,
  'xsmall': 26em
);

$size__wrapper-max-width: (
  'small': 100%,
  'medium': calc(100% - (32px * 2)),
  'large': calc(100% - (56px * 2)),
  'xlarge': calc(1312px - (56px * 2))
);

$size__content-padding: (
  'small': 20px,
  'medium': 5vw,
  'large': 6vw,
  'xlarge': calc((100% - 680px) / 2)
);

$size__archive-content-padding: 32px;

$size__sidebar-max-width: (
  'medium': 224px,
  'large': 240px
);

$size__content-max-width: (
  'small': 100%,
  'medium': calc(100% - (5vw * 2)),
  'large': calc(100% - (6vw * 2)),
  'xlarge': 680px
);
