
/*===================================
=            Site Header            =
====================================*/

.site-header {
  position: relative;
  z-index: 10;

  .wrapper--expanded {
    position: relative;
    z-index: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: header-height('mobile');
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $color__blue;
    @include box-shadow(0, 2px, 4px, 0, rgba($color__black, 0.41));

    @include breakpoint('medium') {
      height: header-height('minimal');
    }

    @include breakpoint('large') {
      height: header-height('full');
      background-color: transparent;
      box-shadow: none;
    }
  }

  &__title {
    flex: 1 0 auto;
    order: 2;
    max-width: fit-content;
    text-align: center;

    @include breakpoint('large') {
      order: 1;
      text-align: left;
    }
  }

  &__logo {
    display: block;
    height: 37px;
    margin: 0 auto;
    line-height: 1;

    @include breakpoint('large') {
      margin: 0;
    }

    &--half {
      display: none;
    }
  }
}


