/*===================================
=            Site Header            =
====================================*/

.site-header {
  $header: &;
  position: relative;
  z-index: 10;
  transition: all 0.2s ease-in-out;

  .wrapper--expanded {
    position: relative;
    z-index: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: header-height('mobile');
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $color__blue;
    @include box-shadow(0, 2px, 4px, 0, rgba($color__black, 0.41));

    @include breakpoint('medium') {
      height: header-height('minimal');
    }

    @include breakpoint('large-3') {
      height: header-height('full');
      background-color: transparent;
      box-shadow: none;
      transition: all 0.3s ease-in-out;
    }
  }

  &__title {
    flex: 1 0 auto;
    order: 2;
    max-width: fit-content;
    text-align: center;

    @include breakpoint('large-3') {
      order: 1;
      text-align: left;
    }
  }

  &__logo {
    display: block;
    height: 37px;
    margin: 0 auto;
    line-height: 1;

    @include breakpoint('large-3') {
      margin: 0;
    }

    &--mobile {
      @include breakpoint('medium') {
        display: none;
      }
    }

    &--full {
      display: none;

      @include breakpoint('medium') {
        display: block;
        height: 55px;
      }

      @include breakpoint('large-3') {
        display: none;
      }
    }

    &--half {
      display: none;

      @include breakpoint('large-3') {
        display: block;
        height: 85px;
      }
    }
  }

  &__secondary {
    display: none;

    @include breakpoint('large-3') {
      position: absolute;
      top: calc(50% + 1.6rem);
      right: 85px;
      left: 85px;
      display: flex;
      margin: 0 auto;
      padding-top: 0.25rem;
      color: $color__bluegray-light;
      border-top: 1px solid rgba($color__bluegray-light, 0.56);
    }

    @include breakpoint('xlarge') {
      max-width: 1140px;
    }
  }

  &__tagline {
    flex: 1 1 auto;
    @extend %tagline;
  }

  &__breadcrumbs {
    flex: 1 1 auto;
    justify-content: flex-end;
    text-align: right;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;

    .wrapper--expanded {
      @include breakpoint('large-3') {
        height: header-height('minimal');
      }
    }
  }

  &--minimal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;

    .wrapper--expanded {
      @include breakpoint('large-3') {
        height: header-height('minimal');
        background-color: $color__blue;
        @include box-shadow(0, 2px, 4px, 0, rgba($color__black, 0.41));
      }
    }

    #{$header}__secondary {
      display: none;
    }

    #{$header}__logo:not(#{$header}__logo--full) {
      display: none;
    }

    #{$header}__logo--full {
      display: block;
    }
  }
}
