/*===============================
=           About Page          =
===============================*/

.about {
  padding-bottom: 1rem;

  &__title {
    @extend %h2--thin;
    color: $color__black;
  }

  &__team {
    display: block;

    @include breakpoint('large') {
      display: flex;
      flex-wrap: wrap;
    }

    > div {
      flex: 0 50%;
    }
  }

  &__person {
    flex: 1;
    padding-bottom: 1.5rem;

    @include breakpoint('large') {
      padding: 1.5rem 2rem 1.5rem 0;
    }

    h3 {
      @extend %about-person__name--base;
      color: $color__astral;
      @include font-size(20px);

      &:hover {
        color: $color__astral;
      }
    }

    p {
      @extend %about-person__title;
      margin: 0;
      color: $color__gray-darker;
      @include font-size(15px);
    }
  }
}

.about__title {
  padding-top: 2rem;
  text-transform: uppercase;

  .about & {
    margin: 2rem 0 1rem;
    border-top: 1px solid $color__gray-light;
  }

  &:first-of-type {
    padding-bottom: 1rem;
  }
}
