.home__proj-nav {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 5rem;

  @include breakpoint('large') {
    display: grid;
    grid-column-gap: 4rem;
    grid-template-areas:
      'header header'
      'desc menu'
      'submenu menu';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto max-content;
    padding-top: 15rem;
  }

  @include breakpoint('xlarge') {
    grid-column-gap: 10%;
    grid-template-columns: 50% 40%;
  }

  &::before {
    $sizes: ('medium', 'large', 'xlarge');
    @extend %homebg;
    background-color: #0e273c;
    background-image: url('../../images/home/underwater-bg_small.jpg');
    background-repeat: no-repeat;
    background-position: right 27%;

    @each $size in $sizes {
      @include breakpoint($size) {
        background-image: url('../../images/home/underwater-bg_#{$size}.jpg');

        @if $size != 'medium' {
          background-position: 0 75%;
        }
      }
    }
  }

  &::after {
    @extend %homebg;
    height: 20%;
    background-image: linear-gradient(to bottom, $color__navy, #0e273c);

    @include breakpoint('large') {
      height: 30%;
    }
  }

  .section__title {
    grid-area: header;
    margin-bottom: 2rem;

    @include breakpoint('medium') {
      text-align: left;
    }

    &::after {
      content: '';
      display: block;
      width: 80%;
      height: 1px;
      margin: 1rem auto;
      background-color: $color__white;
      opacity: 0.6;

      @include breakpoint('medium') {
        width: 280px;
        margin-left: 0;
      }
    }
  }

  > p {
    grid-area: desc;
    max-width: $home__content-width;
    margin: 0 auto 1.5rem;
    @extend %home__paragraph;
  }
}

.proj-nav {
  &__submenu {
    grid-area: submenu;
    margin: 0 0 25vh;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 0.75rem;
    }

    .proj-nav__subtitle {
      color: $color__bluegray-light;
      font-style: italic;
      @include font-size(16px);
      line-height: 1.34;
    }

    a {
      color: $color__white;
      font-family: $font__lato;
      font-weight: 600;
      @include font-size(16px);
      line-height: 1;
      letter-spacing: 0.5px;

      &:hover {
        color: $color__orange;
      }
    }
  }

  &__menu {
    grid-area: menu;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 2.5rem;

      @supports (--css: variables) {
        display: grid;
        grid-gap: 1rem;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.25s, opacity 0.3s 0.25s ease-in-out;
      }

      @include breakpoint('medium') {
        @supports (--css: variables) {
          grid-column-gap: 1.5rem;
          grid-row-gap: 0;
          grid-template-areas:
            'icon title'
            '. desc';
          grid-template-columns: max-content auto;
          grid-template-rows: repeat(2, auto);
        }
      }
    }

    .js-is-visible {
      visibility: visible;
      opacity: 1;
    }

    .proj-nav__menu-icon {
      display: block;
      grid-area: icon;
      margin: 0 auto;
    }

    .proj-nav__menu-title {
      grid-area: title;
      color: #eceff2;
      font-family: $font__lato;
      font-weight: 300;
      @include font-size(22px);
      line-height: 1.29;
      text-align: center;

      @include breakpoint('medium') {
        @include font-size(24px);
        line-height: 1.18;
        text-align: left;
      }

      @include breakpoint('large') {
        @include font-size(28px);
        line-height: 1.01;
      }
    }

    a {
      &::after {
        content: '\f105';
        display: inline-block;
        color: $color__orange-med;
        font-family: 'radar';
        transform: translateX(8px);
        transition: inherit;
      }
    }

    a:hover {
      color: $color__white;

      &::after {
        color: $color__orange;
        transform: translateX(12px);
      }
    }

    p {
      margin-bottom: 0;
      @extend %home__subparagraph;

      @include breakpoint('medium') {
        grid-area: desc;
      }
    }
  }
}
