.home__ecosystem {
  position: relative;
  padding-top: 2.5rem;

  &::before {
    @extend %homebg;
    background: rgb(15, 40, 62);
    /* prettier-ignore */
    background: linear-gradient(0deg, rgba(15, 40, 62, 1) 0%, rgba(10, 17, 23, 1) 100%);
  }

  .section__title {
    position: relative;
    margin-bottom: 3rem;

    &::after {
      content: '';
      display: block;
      width: 80%;
      height: 1px;
      margin: 1rem auto;
      background-color: $color__white;
      opacity: 0.6;

      @include breakpoint('medium') {
        width: 280px;
      }
    }
  }

  .subsection__num {
    display: block;
    margin-bottom: 1rem;
    color: $color__orange;
  }
}

.ecosystem {
  /* prettier-ignore */
  // $width: map-get($map: $home__padding, $key: 'small');
  $width: 1rem;

  @include breakpoint('medium') {
    $width: 1.25rem;
  }

  &__definitions {
    display: grid;
    grid-gap: 3rem;
    margin: 0 auto 5rem;

    @include breakpoint('medium') {
      grid-gap: 8rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }

    @include breakpoint('large') {
      grid-gap: 20%;
      margin-bottom: 6rem;
    }

    @include breakpoint('xlarge') {
      margin-bottom: 8rem;
    }

    p {
      margin-bottom: 0;
      @extend %home__subparagraph;
    }
  }

  &__subtitle {
    margin-bottom: 1rem;
    color: $color__white;
    font-family: $font__lato;
    font-weight: bold;
    @include font-size(20px);
    line-height: 1;
    letter-spacing: 1.67px;
    text-transform: uppercase;

    @include breakpoint('medium') {
      @include font-size(22px);
      letter-spacing: 1.83px;
    }

    @include breakpoint('large') {
      @include font-size(24px);
      letter-spacing: 2px;
    }
  }

  &__conventional,
  &__nuclear {
    position: relative;
    padding-left: $width;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -$width;
      width: $width;
      height: 100%;
    }
  }

  &__conventional {
    @include breakpoint('medium') {
      padding-right: $width;
      padding-left: 0;
      text-align: right;
    }

    &::before {
      background-color: $color__azul;

      @include breakpoint('medium') {
        right: -$width;
        left: unset;
      }
    }
  }

  &__nuclear {
    &::before {
      background-color: $color__orange-med;
    }
  }

  &__subsection {
    margin-bottom: 5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__subsection-img {
    display: block;
    margin: 2rem auto;
  }

  &__content {
    display: grid;
    grid-gap: 2.5rem;

    @include breakpoint('large') {
      grid-gap: 4rem;
      grid-template-columns: auto 25%;
    }

    @include breakpoint('xlarge') {
      grid-gap: 10rem;
      grid-template-columns: auto 33%;
    }
  }

  &__desc {
    p {
      margin-bottom: 0;
      @extend %home__paragraph;
    }

    ul {
      margin: 0.5rem 0 2rem;
      padding-left: 2.5rem;
      @extend %home__subparagraph;
      list-style: none;
    }

    li {
      position: relative;
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: -1.25rem;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-top-width: 4px;
        border-bottom-width: 4px;
        border-left: 8px solid $color__orange;
      }
    }
  }

  &__timeline {
    position: relative;
    align-self: start;
    width: 100%;

    @include breakpoint('medium') {
      max-width: 400px;
      margin: 0 auto;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: calc(15% + (2.25rem / 2));
      width: 1px;
      height: 2rem;
      opacity: 0.7;
    }

    &::before {
      top: -2rem;
      /* prettier-ignore */
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $color__white);
    }

    &::after {
      top: 100%;
      /* prettier-ignore */
      background-image: linear-gradient(to bottom, $color__white, rgba(255, 255, 255, 0));
    }
  }
}

.timeline {
  &__row {
    $gap: 2.25rem;
    $gap-half: $gap / 2;
    position: relative;
    display: grid;
    grid-gap: $gap;
    grid-template-columns: 15% auto;
    align-content: start;
    padding-bottom: 1.5rem;

    &:last-of-type() {
      padding-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(15% + #{$gap-half});
      width: 1px;
      height: 100%;
      background-color: $color__white;
      opacity: 0.7;
    }

    &::after {
      $bubble: 0.8125rem;
      $bubble-half: $bubble / 2;
      content: '';
      position: absolute;
      top: 4px;
      left: calc(15% + #{$gap-half} - #{$bubble-half} + 1px);
      width: $bubble;
      height: $bubble;
      padding: 1px;
      background-color: $color__white;
      background-clip: content-box;
      border: 1px solid $color__white;
      border-radius: 50%;
      transition: border 0.3s ease-in-out;
    }

    @each $type, $color in $home__event-types {
      &--#{$type}::after {
        background-color: $color;
      }
    }

    // Hover effects triggered via JS
    &.js-event-hover {
      &::after {
        border-color: transparent;
      }

      .timeline__year {
        transform: translateX(4px);
      }

      .timeline__content {
        transform: translateX(-4px);
      }
    }

    &.js-details-visible {
      .timeline__title {
        font-weight: bold;
      }

      .timeline__year {
        color: $color__white;
      }

      .timeline__details {
        display: block;
      }
    }

    a {
      color: $color__orange;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $color__white;
      }

      &::after {
        content: '\f105';
        margin-left: 0.25rem;
        color: $color__orange !important;
        font-family: 'radar';
      }

      .icon-docs {
        display: block;
        float: left;
        margin-right: 0.25rem;
        margin-bottom: 3rem;
      }

      .icon-docs::before {
        margin-left: 0;
      }
    }
  }

  &__year,
  &__content {
    transition: transform 0.3s ease-in-out;
  }

  &__year {
    color: #88929a;
    font-family: $font__lato;
    font-weight: 600;
    @include font-size(14px);
    line-height: 1.29;
    text-align: right;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: $color__white;
    font-family: $font__lato;
    font-weight: 300;
    @include font-size(16px);
    line-height: 1.13;
    text-align: left;
    background: transparent;
    border: 0;
    appearance: none;

    /* stylelint-disable */
    &.js-toggle_timeline_details {
      cursor: pointer;
    }
    /* stylelint-enable */
  }

  &__details {
    display: none;
    margin-top: 0.75rem;
    color: #bec3c6;
    @include font-size(16px);

    p {
      margin-bottom: 1rem;
    }
  }

  &__year-desc {
    font-style: italic;
  }

  &__type {
    @include font-size(13px);
    font-weight: bold;
    text-transform: uppercase;
  }
}
