.home__ssa {
  position: relative;
  padding-top: 20vh;
  padding-bottom: 20vh;

  @include breakpoint('medium') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    padding-top: 0;
    padding-bottom: 0;
  }

  &::before {
    $sizes: ('medium', 'large', 'xlarge');
    @extend %homebg;
    background-color: $color__home-navy-grad;
    background-image: url('../../images/home/earth-bg_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @each $size in $sizes {
      @include breakpoint($size) {
        background-image: url('../../images/home/earth-bg_#{$size}.jpg');
      }
    }
  }

  .section__title {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 80%;
      height: 1px;
      margin: 1rem auto;
      background-color: $color__white;
      opacity: 0.6;

      @include breakpoint('medium') {
        width: 280px;
      }
    }
  }

  .home__ssa-desc {
    color: $color__white;
    font-family: $font__lato;
    @include font-size(22px);
    line-height: 2;
    text-align: center;

    @include breakpoint('medium') {
      max-width: $home__content-width;
      margin: 0 auto;
      @include font-size(26px);
    }
  }

  .vocab {
    position: relative;
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0 16px 2px;
    color: $color__white;
    font-weight: bold;
    //@include font-size(20px);
    line-height: 1.6;
    text-align: center;
    background-color: $color__orange;
    border: 0;
    border-radius: 50vh;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @include breakpoint('medium') {
      //@include font-size(26px);

    }
  }
}

@for $i from 1 through 4 {
  // :nth-child(1-9)
  .vocab:nth-of-type(#{$i}) {
    // Delay the animation. Delay increases as items loop.
    background-color: transparent;
    transition: background-color 500ms ease-in-out, box-shadow 500ms ease-in-out;
    transition-delay: $i * (300ms);
  }
}

.js-is-visible .vocab {
  background-color: $color__orange;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tippy-tooltip.otr-theme {
  color: #000;
  line-height: 1;
  background-color: #fff;

  @include breakpoint('medium') {
    color: #fff;
    background-color: transparent;
  }
}

.tippy-tooltip .definition {
  line-height: 1.4;
  @include font-size(16px);
}

.tippy-tooltip.otr-theme[data-animatefill] {
  background-color: transparent;
}

.tippy-tooltip.otr-theme .tippy-backdrop {
  background-color: transparent;
}

@for $i from 1 through 50 {
  // :nth-child(1-9)
  .def-text span:nth-of-type(#{$i}) {
    // Delay the animation. Delay increases as items loop.
    opacity: 0;
    animation: reveal 100ms linear alternate 1 forwards;
    animation-delay: 500ms + ($i * (50ms));
  }
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

$tippybg: #ddd;

@keyframes grow {
  0% {
    width: 16px;
    background-color: $tippybg;
  }

  70% {
    width: 16px;
    background-color: $tippybg;
  }

  100% {
    width: 170px;
    background-color: rgba($tippybg, 0.85);
  }
}

.definition {
  width: 200px;
  padding: 1rem;
}

.def-text {
  width: 170px;
  min-height: 16px;
  overflow-x: hidden;
  background-color: rgba($tippybg, 0.85);
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  // ^^^ This value should be equal to width of left OR right border.
  background-position: top left, top right, bottom left, bottom right;
  background-size: 8px 3px;
  border: solid #fff;
  border-width: 0 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  animation: grow 500ms linear alternate 1 forwards;
}

.def-text-inner {
  position: relative;
  display: block;
  width: 170px;
  padding: 12px;
  color: #000;
}
