.home__matter {
  position: relative;

  &::before {
    @extend %homebg;
    background: #001a28;
  }

  .section__title {
    margin-bottom: 2rem;

    &::after {
      content: '';
      display: block;
      width: 80%;
      height: 1px;
      margin: 1rem auto;
      background-color: $color__white;
      opacity: 0.6;

      @include breakpoint('medium') {
        width: 280px;
      }
    }
  }

  p {
    margin-bottom: 1rem;
    @extend %home__paragraph;
  }

  > p {
    max-width: $home__content-width;
    margin-right: auto;
    margin-left: auto;
  }

  .subsection__title {
    margin-bottom: 0.75rem;
    text-align: left;
  }
}

.matter {
  &__divider {
    margin: 3rem auto;

    @include breakpoint('medium') {
      max-width: 80%;
      margin: 1.5rem auto;
    }

    @include breakpoint('medium') {
      max-width: 500px;
    }

    path {
      stroke-dasharray: var(--length);
      stroke-dashoffset: calc(var(--length) * -1);
    }

    .js-animate {
      animation: draw 2s forwards;
    }

    @keyframes draw {
      to {
        stroke-dashoffset: 0;
      }
    }
  }

  &__subsections {
    display: grid;
    grid-gap: 2rem;

    @include breakpoint('medium') {
      max-width: 80%;
      margin: 0 auto;
    }

    @include breakpoint('large') {
      grid-gap: 4rem;
      grid-template-areas: 'first second';
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      max-width: 100%;
    }

    @include breakpoint('xlarge') {
      grid-gap: 10%;
    }
  }

  &__subsection {
    p {
      margin-bottom: 0;
      color: rgba($color__off-white, 0.8);

      strong {
        color: $color__white;
      }

      + p {
        margin-top: 1rem;
      }
    }
  }

  &__subsection--1 {
    @include breakpoint('large') {
      grid-area: first;
    }
  }

  &__subsection--2 {
    @include breakpoint('large') {
      grid-area: second;
    }
  }

  &__footnote {
    @extend %home__subparagraph;
    color: rgba($color__off-white, 0.6) !important;
  }
}
