/*============================
=            Post            =
============================*/

.post {
  $post: &;

  @include breakpoint('medium') {
    display: grid;
    grid-template-areas:
      'header header'
      'meta image'
      'sidebar sidebar'
      'content content'
      'footer footer';
    grid-template-columns: auto minmax(33%, 50%);
  }

  @include breakpoint('large') {
    grid-template-areas:
      'sidebar header'
      'sidebar meta'
      'sidebar content'
      '. footer';
    grid-template-columns: sidebar-width('large') auto;
  }

  &__header {
    grid-area: header;
    color: $color__white;

    #{$post}__title,
    #{$post}__content-type {
      $sizes: ('large', 'xlarge');
      padding-right: content-padding('small');
      padding-left: content-padding('small');

      @each $size in $sizes {
        @include breakpoint($size) {
          padding-right: content-padding($size);
          padding-left: content-padding($size);
        }
      }
    }

    #{$post}__title {
      @extend %page__title;
      margin: 0 0 0.5rem;

      @include breakpoint($break: 'medium', $until: 'large') {
        padding: 0;
      }
    }

    #{$post}__content-type {
      @extend %orange-top-bar;

      &::after {
        @include breakpoint('medium') {
          @include orange-side-bar();
        }
      }
    }
  }

  &__meta {
    $sizes: ('medium', 'large', 'xlarge');
    grid-area: meta;
    padding: content-padding('small');
    color: $color__off-black;
    background-color: $color__white;

    @each $size in $sizes {
      @include breakpoint($size) {
        padding: 1rem content-padding($size);
      }
    }
  }

  &__img-container {
    grid-area: image;
    padding: 0;

    @include breakpoint('large') {
      display: none;
    }

    &--large {
      display: none;

      @include breakpoint('large') {
        display: block;
        margin-right: -3vw;
      }

      @include breakpoint('xlarge') {
        margin-right: -96px;
      }

    }
  }

  &__img {
    position: relative;
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 1;
  }

  &__sidebar {
    grid-area: sidebar;
    align-self: start;
    background-color: $color__off-white;
  }

  &__details {
    padding: content-padding('small');

    @include breakpoint('medium') {
      padding: content-padding('small') content-padding('medium');
    }

    @include breakpoint('large') {
      padding: content-padding('small');
    }
  }

  &__content {
    grid-area: content;
    width: 100%;
    margin: 0 auto;
    padding: content-padding('small');
    background-color: $color__white;

    @include breakpoint('medium') {
      padding-right: content-padding('medium');
      padding-left: content-padding('medium');
    }

    @include breakpoint('large') {
      padding: 0 content-padding('large');
    }

    @include breakpoint('xlarge') {
      padding: 0 content-padding('xlarge');
    }
  }

  &__footer {
    grid-area: footer;
    padding: content-padding('small');
    background-color: $color__off-white;
  }

  &__related-reading {
    @extend %h2--thin;
    text-transform: uppercase;
  }

  &__more-on {
    @extend %h5--thin;
    text-transform: uppercase;
  }
}
