/*=============================
=           Home Page         =
=============================*/
@charset "utf-8";

// Import Styles
@import '../abstracts/abstracts';

%homebg {
  content: '';
  position: absolute;
  top: 0;
  left: calc((100vw - 100%) / -2);
  z-index: -1;
  width: 100vw;
  height: 100%;
}

.home {
  max-width: $home__max-width;
  margin-top: 4.5rem;
  margin-right: auto;
  margin-left: auto;
  color: $color__white;

  @each $size, $value in $home__padding {
    @if $size != 'small' {
      @include breakpoint($size) {
        padding-right: $value;
        padding-left: $value;
      }
    } @else {
      padding-right: $value;
      padding-left: $value;
    }
  }

  @include breakpoint('large') {
    margin-top: 2rem;
  }

  .section__title {
    @extend %home__section-title;
    text-align: center;
  }

  .section__subtitle {
    display: block;
    @extend %home__section-subtitle;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.71;
  }

  .subsection__title {
    @extend %home__subsection-title;
    text-align: center;
    text-transform: uppercase;
  }
}

@import 'home-intro';

@import 'home-ssa';

@import 'home-ecosystem';

@import 'home-space';

.home__matter {
  position: relative;

  &::before {
    @extend %homebg;
    background-color: $color__home-navy-grad;
    background-image: linear-gradient(to bottom, #0e273c, $color__navy);
  }
}

.home__proj-nav {
  position: relative;
  padding-top: 9.375rem;
  padding-bottom: 5rem;

  &::before {
    @extend %homebg;
    background-image: linear-gradient(to bottom, $color__navy, #0e273c);
  }
}

.home__recent {
  position: relative;

  &::before {
    @extend %homebg;
    /* prettier-ignore */
    background-image: linear-gradient(to bottom, #0e273c, rgba(14, 39, 60, 0));
  }
}
