html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Fallback for when there is no custom background color defined. */
  --breakpoint: 'small';
  $sizes: ('medium', 'large');

  background-color: $color__background-body;
  background-image: url('../images/bg/bg-topo_small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;


  @each $size in $sizes {
    @include breakpoint($size) {
      --breakpoint: '#{$size}';
      background-image: url('../images/bg/bg-topo_#{$size}.jpg');
    }
  }
}

.page-content {
  margin-top: 2rem;
}

.wrapper {
  $sizes: ('medium', 'large', 'xlarge');
  max-width: wrapper-width('small');
  margin: 0 auto;

  @each $size in $sizes {
    @include breakpoint($size) {
      max-width: #{wrapper-width($size)};
      padding: 0;
    }
  }

  &--expanded {
    $padding-small: wrapper-padding('small') / 2;
    margin: 0 auto;
    padding-right: $padding-small;
    padding-left: $padding-small;

    @each $size in $sizes {
      @include breakpoint($size) {
        $width: wrapper-width($size);
        $padding-half: wrapper-padding($size) / 2;
        $padding: calc(((100% - #{$width}) / 2) - #{$padding-half});
        padding-right: $padding;
        padding-left: $padding;
      }
    }
  }
}
