html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Fallback for when there is no custom background color defined. */
  --breakpoint: 'xsmall';
  background: $color__background-body;

  @include breakpoint('small') {
    --breakpoint: 'small';
  }

  @include breakpoint('medium') {
    --breakpoint: 'medium';
  }

  @include breakpoint('large') {
    --breakpoint: 'large';
  }

  @include breakpoint('xlarge') {
    --breakpoint: 'xlarge';
  }
}

.wrapper {
  max-width: size($size__wrapper-max-width, 'small');
  margin: 0 auto;
  padding: 0 size($size__wrapper-padding, 'small');

  @include breakpoint('medium') {
    max-width: size($size__wrapper-max-width, 'medium');
    padding: 0;
  }

  @include breakpoint('large') {
    max-width: size($size__wrapper-max-width, 'large');
  }

  @include breakpoint('xlarge') {
    max-width: size($size__wrapper-max-width, 'xlarge');
  }
}
