html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Fallback for when there is no custom background color defined. */
  --breakpoint: 'xsmall';
  $sizes: ('small', 'medium', 'large', 'xlarge');
  @each $size in $sizes {
    @include breakpoint($size) {
      --breakpoint: '#{$size}';
    }
  }
  background: $color__background-body;
}

.wrapper {
  $sizes: ('small', 'medium', 'large', 'xlarge');
  margin: 0 auto;
  padding: 0 size($size__wrapper-padding, 'small');

  @each $size in $sizes {
    @include breakpoint($size) {
      max-width: size($size__wrapper-max-width, $size);
      padding: 0;
    }
  }
}
