/*===============================
=            Helpers            =
===============================*/

.visually-hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.focusable.visually-hidden:focus {
  position: relative;
  left: 0;
  width: auto;
  height: auto;
  overflow: auto;
}

.video-wrapper {
  position: relative;
  margin-bottom: 2rem;

  &::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }

  * + & {
    margin-top: 2rem;
  }

  > img {
    height: auto;
  }

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* stylelint-disable */
  & + figcaption {
    margin-top: -1.5rem;
  }
  /* stylelint-enable */
}
