/*=========================================
=            Print Stylesheets            =
=========================================*/
@media print {
  *,
  *::before,
  *::after {
    color: #000 !important; // Black prints faster: h5bp.com/s
    text-shadow: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    filter: none !important;
  }

  body {
    margin: 25mm;
    background-image: none !important;

    &::before {
      display: block;
      font-family: $font__ptsans;
      font-size: 50pt;
      text-align: center;
      content: 'On The Radar';
    }

    &::after {
      content: 'Printed from On The Radar, ©2019 by the Center for Strategic and International Studies. All rights reserved.';
      margin-top: 1cm;
      font-size: 12pt;
    }
  }

  h2,
  h3 {
    break-after: avoid;
  }

  .site-header,
  .ecosystem__subsection-img,
  .proj-nav__menu-icon,
  .site-footer__related ul img,
  .site-footer__copyright,
  .about-aside img,
  .post__img-container,
  .archive__sidebar,
  .archive__filter-type,
  .post__footer .share {
    display: none !important;
  }

  a:link,
  a:visited {
    color: #000 !important;
  }

  .home__intro,
  .home__ssa,
  .home__ecosystem,
  .home__space,
  .home__matter,
  .home__proj-nav,
  .home__recent {
    &::before {
      background-image: none !important;
    }

    &::after {
      background-image: none !important;
    }
  }

  .home__recent {
    margin-bottom: 0;
  }

  .related-posts__block {
    margin-left: 25mm;
    background-image: none !important;
  }

  .ecosystem__subsection {
    .subsection__title {
      margin-bottom: 5mm;
    }
  }
}
