---
layout: default
---
<article class="archive">

  {% include page-header.html %}

  <section class="archive__filter-type">
    Filter by Type
  </section>
  <section class="archive__results">
    Filter Results<br />
    Sort
  </section>
  <section class="archive__sidebar">
    Refine Results
  </section>
  <section class="archive__featured">
    Featured Post
  </section>
  <section class="archive__content">
    Post List<br />
    {{ content }}
  </section>
  {% include page-footer.html %}
</article>
