---
layout: default
---
<article class="final-report h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="final-report__header">
    <h1 class="final-report__title" itemprop="name headline">
      Under the <span class="final-report__title--bold">Nuclear Shadow</span>
      <span class="final-report__subtitle">Situational Awareness Technology and Crisis Decisionmaking</span>
    </h1>
    <div class="final-report__meta">
      {%- include social-share.html -%}
      <p class="final-report__excerpt">{{ page.excerpt }}</p>
      {%- include authors-list.html authors=page.authors collection=page.collection -%}
      {%- include date.html -%}
    </div>
    <div class="final-report__downloads final-report__downloads--header">
      <p>Download <em>Under the Nuclear Shadow</em></p>
      {% include final-report-downloads.html %}
    </div>
  </header>

  <section class="final-report__content e-content" itemprop="articleBody">
    <section class="final-report__section final-report__intro">
      <div class="final-report__img-full">
        <blockquote class="blockquote--full">
          <p>Information dominance has been essential to ensuring U.S. military effectiveness, sustaining the
            credibility
            and assurance of military alliances, and stabilizing or reducing the risks of miscalculation or collateral
            damage. <strong>But can there be too much of a good thing?</strong></p>
          <footer>&mdash; From <cite>Under the Nuclear Shadow</cite> Full Report</footer>
        </blockquote>
        <p class="final-report__caption">B-52H Stratofortress, Sept. 16, 2016.<br />(U.S. Air Force photo/Airman 1st
          Class J.T. Armstrong)</p>
      </div>
      <div class="final-report__intro-header">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KagLB1zYrTU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="final-report__toc">
          <h2>On this Page:</h2>
          <ul>
            <li><a href="#ecosystem">What is the emerging strategic SA ecosystem?</a></li>
            <li><a href="#technologies">What technologies were explored during <i>On the Radar</i>?</a></li>
            <li><a href="#escalation">How Could These Capabilities Contribute to Escalation?</a></li>
            <li><a href="#exercises">Tabletop Exercises</a></li>
            <li><a href="#wayahead">The Way Ahead</a></li>
          </ul>
        </div>
      </div>
      <p>Improvements to strategic situational awareness (SA)—the ability to characterize the operating environment,
        detect and respond to threats, and discern actual attacks from false alarms across the spectrum of conflict—have
        long been assumed to reduce the risk of conflict and help manage crises more successfully when they occur.</p>
      <p>However, with the development of increasingly capable strategic SA-related technology, growing comingling of
        conventional and nuclear SA requirements and capabilities, and the increasing risk of conventional conflict
        between nuclear-armed adversaries, this may no longer be the case.</p>
    </section>
    <section class="final-report__section final-report__ecosystem">
      <h2 id="ecosystem">What is the emerging strategic SA ecosystem?</h2>
      <div class="final-report__ecosystem-capabilities">
        <h3 class="final-report__small-title">Capability Classifications</h3>
        <dl>
          <dt class="definition--conventional">Conventional</dt>
          <dd>Capabilities that provide theater and battlefield-level situational awareness, to include related
            indications, warning
            or other operational information as well as information on the status, location, and condition of
            conventional assets
            and capabilities.</dd>
          <dt class="definition--nuclear">Nuclear</dt>
          <dd>Capabilities that provide indications, warning or other operational information on the status, location,
            or condition of
            adversary nuclear weapons, delivery or command and control systems.</dd>
        </dl>
      </div>
      <p>The emerging SA ecosystem is highly networked, real-time, and dual-use, creating a landscape that is highly
        capable but also murkier and more complex. The rapid pace of technological advancement, dual-use (conventional
        and nuclear) applicability of emerging capabilities and blurring of lines between nuclear and conventional
        command and control are reshaping the emerging landscape. This emerging SA ecosystem can provide vast amounts of
        information, more quickly and more precisely than ever before, including about new forms of strategic attack
        that may prove elusive to traditional warning systems.</p>
      <h3>Why Does this Matter?</h3>
      <ol>
        <li>The risk of crisis or conflict between nuclear-armed states—some of which integrate conventional and nuclear
          forces in their military strategies or employ dual-use (nuclear and conventional) delivery systems—is
          increasing.</li>
        <li>Nuclear-armed states are increasingly reliant on a single strategic SA-enabled ecosystem for both nuclear
          and conventional crisis and conflict, raising new escalation challenges and promoting reconsideration of the
          value and stabilizing nature of information dominance in a crisis.</li>
        <li>New technologies provide more information quicker and with greater precision than ever before, challenging
          descionmakers’ ability to effectively manage risk and adjudicate the high stakes involved.</li>
      </ol>
    </section>
    <section class="final-report__section final-report__technologies">
      <h2 id="technologies">What technologies were explored during <i>On the Radar</i>?</h2>
      <div class="final-report__technologies-header">
        <p>The following table lays out the technologies explored by this project. The table is not exhaustive, but it
          represents
          strategic SA capabilities across all domains and is representative of the emerging SA ecosystem.</p>
        <ul class="table__key">
          <li><img src="/assets/images/final-report/sea.svg" alt="" title="Sea" />Sea</li>
          <li><img src="/assets/images/final-report/air.svg" alt="" title="Air" />Air</li>
          <li><img src="/assets/images/final-report/land.svg" alt="" title="Land" />Land</li>
          <li><img src="/assets/images/final-report/space.svg" alt="" title="Space" />Space</li>
          <li><img src="/assets/images/final-report/cyber.svg" alt="" title="Cyber" />Cyber</li>
          <li><img src="/assets/images/final-report/defense.svg" alt="" title="Defense" />Defense</li>
          <li><strong>P</strong>&nbsp;=&nbsp;Platform</li>
          <li><strong>CE</strong>&nbsp;=&nbsp;Critical Enabler</li>
        </ul>
      </div>
      Table here
    </section>
    <section class="final-report__section final-report__capabilities">
      <h2 id="capabilities">How Could These Capabilities Contribute to Escalation?</h2>
      <p class="final-report__capabilities-intro">Of particular concern are three potential escalation
        pathways—provocation,
        entanglement, and information
        complexity—that
        may be triggered or exacerbated with the use of emerging strategic SA-enhancing capabilities. During an actual
        crisis,
        multiple pathways may be activated, either simultaneously or sequentially. Examining each of these escalatory
        pathways
        individually provides insight into the interplay of strategic SA technologies and stability risks.</p>
      <section class="capabilities capabilities--provocation">
        <img src="/assets/images/final-report/provocation.svg" class="capabilities__icon" alt="" title="" />
        <h3>Provocation</h3>
        <p class="capabilities__subtitle">Decisionmakers’ perception of information collection as either
          offensive or incentivizing an offensive advantage</p>
        <div class="capabilities__content">
          <p>Escalation through provocation can occur when parties to a crisis perceive information collection
            activities as
            offensive in nature, or believe such actions create an offensive advantage. On this pathway, one or both
            parties may
            believe escalatory steps are controllable or unavoidable. This inability to delineate intentions can result
            in a
            spiraling sequence of tit-for-tat actions and reactions and a loss of escalatory control. Additionally, the
            applicability of strategic SA capabilities to inform or enable preventive or pre-emptive action further
            complicates
            these offense/defense perceptions and may introduce highly provocative first mover incentives.</p>
          <blockquote class="blockquote--short">
            <p>Policymakers were highly attuned to the escalatory risk associated with intrusive technologies, often
              weighing their
              concerns about the potential provocational risks to be more important than the situational awareness
              benefit that
              capabilities may provide.</p>
            <footer>&mdash; From <cite>Under the Nuclear Shadow</cite> Full Report</footer>
          </blockquote>
          <img src="/assets/images/final-report/provocation-graphic.svg" alt="" title="" />
        </div>
      </section>
      <section class="capabilities capabilities--entanglement">
        <img src="/assets/images/final-report/entanglement.svg" class="capabilities__icon" alt="" title="" />
        <h3>Entanglement</h3>
        <p class="capabilities__subtitle">Decisionmakers’ inability to delineate between nuclear and conventional risks
        </p>
        <div class="capabilities__content">
          <img src="/assets/images/final-report/entanglement-graphic.svg" alt="" title="" />
          <p>Escalation through strategic SA entanglement happens when parties to a crisis or conflict are unable to
            delineate
            between nuclear and conventional risks, thereby increasing the risk of miscalculation and unintended
            escalation. These
            risks can lead decision-makers to believe either their own nuclear forces are vulnerable to a disarming
            strike or there
            is an opportunity to disarm an adversary. More specifically, entanglement in the strategic SA space occurs
            when
            conventional SA systems intentionally or unintentionally collect information on nuclear assets, or when
            dual-use SA
            systems become military targets during a conventional conflict.</p>
          <blockquote>
            <p>The capabilities designed to provide situational awareness and support senior decisionmaking in crisis
              and conflict
              are increasingly comingled into a single conventional/nuclear ecosystem.</p>
            <footer>&mdash; From <cite>Under the Nuclear Shadow</cite> Full Report</footer>
          </blockquote>
        </div>
      </section>
      <section class="capabilities capabilities--info">
        <img src="/assets/images/final-report/information-complexity.svg" class="capabilities__icon" alt="" title="" />
        <h3>Information Complexity</h3>
        <p class="capabilities__subtitle">Decisionmakers’ inability to seek, manage, and interpret information
          effectively
        </p>
        <div class="capabilities__content">
          <img src="/assets/images/final-report/information-complexity-graphic.svg" alt="" title="" />
          <p>Escalation through information complexity results from decisionmakers’ inability to seek, manage, and
            interpret
            information effectively. This can result in decisional paralysis or biased decision-making that impairs
            effective crisis
            management. In a complex information environment, where data may be neither easily understood nor highly
            trusted and
            relies on unfamiliar technologies, cognitive processes could increase both the risks and the stakes in
            crisis
            decision-making.</p>
          <blockquote>
            <p>Psychology, particularly in the form of pre-existing beliefs and cognitive biases, is underappreciated
              when examining
              the relationship between crisis decisionmaking and emerging technology.</p>
            <footer>&mdash; From <cite>Under the Nuclear Shadow</cite> Full Report</footer>
          </blockquote>
        </div>
      </section>
    </section>
    <section class="final-report__section final-report__exercises">
      <h2 id="exercises">Tabletop Exercises</h2>
      <div class="final-report__exercises-header">
        <p>The project ran a series of tabletop exercises to better understand how policymakers evaluate risks
          associated with
          employing emerging technologies to enhance situational awareness during crises between nuclear-armed
          adversaries.</p>
        <ul class="final-report__exercises-stats">
          <li><span class="stats__num">5</span> locations</li>
          <li><span class="stats__num">4</span> different states</li>
          <li><span class="stats__num">40+</span> hours of discussion</li>
          <li><span class="stats__num">150</span> (approx) participants, including next-generation scholars, mid-career
            professionals, and senior experts</li>
        </ul>
        <blockquote class="blockquote--short">
          <p>Policymakers were highly attuned to the escalatory risk associated with intrusive technologies, often
            weighing their
            concerns about the potential provocational risks to be more important than the situational awareness benefit
            that
            capabilities may provide.</p>
          <footer>&mdash; From <cite>Under the Nuclear Shadow</cite> Full Report</footer>
        </blockquote>
      </div>
      <section class="final-report__exercises-country country--china">
        <h3>Blind Spot</h3>
        <p class="country__subtitle">China exercise</p>
        <p>In the year 2024, tensions run high as a close-approach incident between the Chinese and Taiwanese navies in
          the Taiwan
          Strait sets off a crisis. The United States reaffirms its commitment to defending Taiwan against Chinese
          aggression as
          concerns rise over a flash invasion. Complicated by the introduction of grey-zone tactics like satellite
          “dazzling” and
          GPS spoofing that significantly limit American visibility in the region, the situation threatens to escalate a
          regional
          crisis into a full-blown conflict between near-peer adversaries.</p>
      </section>
      <section class="final-report__exercises-country country--korea">
        <h3>Risky Business</h3>
        <p class="country__subtitle">North Korea exercise</p>
        <p>In the year 2025, a crisis unfolds as North Korea takes provocative actions against South Korea, including
          seizing an
          island, taking South Korean soldiers hostage, and ultimately establishing a forward position 20 KM south of
          the
          Demilitarized Zone. United States forces on the peninsula are on high-alert as North Korean intentions are
          unclear and
          intelligence indicates growing North Korean confidence in their nuclear deterrent. With American troop
          reinforcements 30
          days away, the situation threatens to escalate an inter-Korean dispute into a conflict between two asymmetric
          nuclear
          powers.</p>
      </section>
    </section>
    <section class="final-report__section final-report__wayahead">
      <div class="final-report__img-full">
        <h2>The Way Ahead</h2>
        <p>In any crisis between nuclear powers, the nuclear shadow will loom large. This environment will require new
          perspectives
          on the value and risks associated with information dominance and its impact on nuclear crises. To effectively
          manage
          crisis escalation, decisionmakers must understand how the strategic SA ecosystem has evolved, appreciate the
          dynamic
          relationship between improved strategic SA and crisis stability, and recognize the complex interplay between
          technology,
          escalation, and decisionmaking.</p>
      </div>
      <p class="final-report__caption">An unmanned underwater vehicle, May. 14, 2013. (U.S. Navy photo by Mass
        Communication Specialist 1st Class Daniel
        Gay/Released)</p>
      <h3>Key Conclusions</h3>
      <ul>
        <li>The growing nuclear shadow requires new perspectives on the value and achievability of information
          dominance.</li>
        <li>The combined conventional/nuclear strategic SA ecosystem is here to stay.</li>
        <li>The combined conventional/nuclear strategic SA ecosystem will shape, not just inform, crises with
          nuclear-armed states.</li>
        <li>High stakes and unfamiliar technologies may increase the risk of biased decisionmaking.</li>
      </ul>
      <h3>Recommendations</h3>
      <ul>
        <li>Close the divide between technology and policy regarding the benefits, risks, and requirements for strategic
          SA
          capabilities.</li>
        <li>Integrate strategy, planning, and operations between the conventional and nuclear communities to better
          prepare for
          conventional crises under a nuclear shadow.</li>
        <li>Engage with allies and potential adversaries on issues of technology, information, and warning to better
          understand
          thresholds, risks, and perceptions in early crisis.</li>
        <li>Seek ways to make strategic SA capabilities and the information they provide more adaptable and flexible to
          potential
          requirements for enhanced transparency, signaling, self-attribution, information sharing, and public
          disclosures.</li>
      </ul>
    </section>
  </section>

  <section class="final-report__footer">
    <div class="final-report__downloads final-report__downloads--footer">
      <p>For more information, download<br /><span class="final-report__downloads-title">Under the Nuclear Shadow</span>
      </p>
      {% include final-report-downloads.html %}
    </div>
    {%- include social-share.html -%}
    {%- include authors-block.html -%}
    <a href="/analysis/" class="btn btn--orange btn--analysis">View All Analysis</a>
  </section>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>