---
layout: default
---

<div class="home">
  <section class="home__intro">
    <h1 class="page__title">
      <span class="page__subtitle">{{
        site.data.language.home.subtitle | escape
      }}</span>
      {{ site.data.language.home.title | escape }}
    </h1>
    <div class="home__intro-desc">
    {{ content }}
    </div>
    <section class="home__featured">
      <h2 class="home__featured-title">Featured Posts</h2>
    </section>
  </section>
  <section class="home__ssa">
    Strategic Situational Awareness
  </section>
  <section class="home__ecosystem">
    Situational Awareness Ecosystem
  </section>
  <section class="home__space">SpaceX</section>
  <section class="home__matter">Does it matter</section>
  <section class="home__proj-nav">How to navigate this project</section>
  <section class="home__recent">Recent posts</section>
</section>
