---
layout: default
---

<div class="home">
  <section class="home__intro">
    <h1 class="page__title">
      <span class="page__subtitle">{{
        site.data.language.home.subtitle | escape
      }}</span>
      {{ site.data.language.home.title | escape }}
    </h1>
    <div class="home__intro-desc">
    {{ content }}
    </div>
    {% assign featured_posts = site.posts | concat: site.workshops | concat: site.briefs | where: 'featured_on_home', true | sort: 'date', 'last' %}
    {%- if featured_posts.size > 0 -%}
    <section class="home__featured">
      <h2 class="home__featured-title">Featured Posts</h2>
      {%- for post in featured_posts limit:2 -%}
      {%- include post-block.html hide_excerpt=true hide_image=false -%}
      {%- endfor -%}
    </section>
    {%- endif -%}
  </section>
  <section class="home__ssa">
    <h2 class="section__title">
      <span class="section__subtitle">What is</span>
      Strategic Situational Awareness (SSA)?
    </h2>
    <div class="home__ssa-desc">Strategic situational awareness is the ability to <button class="vocab">observe</button> the operating environment, <button class="vocab">detect attacks,</button> and <button class="vocab">discern</button> actual attacks from false alarms across the <button class="vocab">spectrum of conflict.</button></div>
  </section>
  <section class="home__ecosystem">
    <h2 class="section__title">
      <span class="section__subtitle">The Changing</span>
      Situational Awareness Ecosystem
    </h2>
    <section class="ecosystem__definitions">
      <div class="ecosystem__conventional">
        <h3 class="ecosystem__subtitle">Conventional</h3>
        <p>Capabilities that provide theater and battlefield-level situational awareness, to include related indications, warning
        or other operational information as well as information on the status, location, and condition of conventional assets
        and capabilities.</p>
      </div>
      <div class="ecosystem__nuclear">
        <h3 class="ecosystem__subtitle">Nuclear</h3>
        <p>Capabilities that provide indications, warning or other operational information on the status, location, or condition of
        adversary nuclear weapons, delivery on command and control systems.</p>
      </div>
    </section>
    {%- for ecosystem in site.data.ecosystems -%}
    <section class="ecosystem__subsection ecosystem__subsection--{{ecosystem.id}}">
      <h3 class="subsection__title">
        <span class="subsection__num">{{ ecosystem.num }}</span>
        {{ ecosystem.title }}
      </h3>
      <img src="{{ '/assets/images/home/ecosystem-' | append: ecosystem.id | append: '.png' | relative_url }}" class="ecosystem__subsection-img" title="{{ ecosystem.title }}" alt="" />
      <div class="ecosystem__content">
        <div class="ecosystem__desc">
          {{ ecosystem.content | markdownify }}
        </div>
        <div class="ecosystem__timeline">Timeline</div>
      </div>
    </section>
    {%- endfor -%}
  </section>
  <section class="home__space">SpaceX</section>
  <section class="home__matter">Does it matter</section>
  <section class="home__proj-nav">How to navigate this project</section>
  <section class="home__recent">Recent posts</section>
</section>
