---
layout: default
---

<div class="home">
  <section class="home__intro">
    <h1 class="page__title">
      <span class="page__subtitle">{{
        site.data.language.home.subtitle | escape
      }}</span>
      {{ site.data.language.home.title | escape }}
    </h1>
    <div class="home__intro-desc">
    {{ content }}
    </div>
    {% assign featured_posts = site.posts | concat: site.workshops | concat: site.briefs | where: 'featured_on_home', true | sort: 'date', 'first' %}
    {%- if featured_posts.size > 0 -%}
    <section class="home__featured">
      <h2 class="home__featured-title">Featured Posts</h2>
      {%- for post in featured_posts limit:2 -%}
      {%- include post-block.html hide_excerpt=true hide_image=false -%}
      {%- endfor -%}
    </section>
    {%- endif -%}
  </section>
  <section class="home__ssa">
    <h2 class="section__title">
      <span class="section__subtitle">What is</span>
      Strategic Situational Awareness (SSA)?
    </h2>
    <div class="home__ssa-desc">Strategic situational awareness is the ability to <button class="vocab">observe</button> the operating environment, <button class="vocab">detect attacks,</button> and <button class="vocab">discern</button> actual attacks from false alarms across the <button class="vocab">spectrum of conflict.</button></div>
  </section>
  <section class="home__ecosystem">
    <h2 class="section__title">
      <span class="section__subtitle">The Changing</span>
      Situational Awareness Ecosystem
    </h2>
    <section class="ecosystem__definitions">
      <div class="ecosystem__conventional">
        <h3 class="ecosystem__subtitle">Conventional</h3>
        <p>Capabilities that provide theater and battlefield-level situational awareness, to include related indications, warning
        or other operational information as well as information on the status, location, and condition of conventional assets
        and capabilities.</p>
      </div>
      <div class="ecosystem__nuclear">
        <h3 class="ecosystem__subtitle">Nuclear</h3>
        <p>Capabilities that provide indications, warning or other operational information on the status, location, or condition of
        adversary nuclear weapons, delivery on command and control systems.</p>
      </div>
    </section>
    {%- for ecosystem in site.data.ecosystems -%}
    <section class="ecosystem__subsection ecosystem__subsection--{{ecosystem.id}}">
      <h3 class="subsection__title">
        <span class="subsection__num">{{ ecosystem.num }}</span>
        {{ ecosystem.title }}
      </h3>
      <img src="{{ '/assets/images/home/ecosystem-' | append: ecosystem.id | append: '.png' | relative_url }}" class="ecosystem__subsection-img" title="{{ ecosystem.title }}" alt="" />
      <div class="ecosystem__content">
        <div class="ecosystem__desc">
          {{ ecosystem.content | markdownify }}
        </div>
        {%- assign events = site.data.timelines | where: 'ecosystem', ecosystem.id -%}
        {%- if events.size > 0 -%}
        <div class="ecosystem__timeline">
          {%- for event in events -%}
          <div class="timeline__row timeline__row--{{ event.category }}">
            <div class="timeline__year">{{ event.year }}</div>
            <div class="timeline__content">
              {%- if event.category == 'general' -%}
               <span class="timeline__title">{{ event.title }}</span>
              {%- else -%}
              <button class="timeline__title">
                {{ event.title }}
              </button>
              <div class="timeline__details">
                {%- if event.year_description -%}
                <p class="timeline__year-desc">{{ event.year_description }}</p>
                {%- endif -%}
                <p class="timeline__desc"><span class="timeline__type">{{ event.type }} &mdash; </span> {{ event.description }}</p>

                {%- if event.primer -%}
                  {%- assign primer = site.briefs | where: "relative_path", event.primer | first -%}
                  <a href="{{ primer.url | relative_url }}"><i class="icon icon-docs"></i>{{ primer.title }}</a>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
          </div>
          {%- endfor -%}
        </div>
        {%- endif -%}
      </div>
    </section>
    {%- endfor -%}
  </section>
  <section class="home__space">
    <p class="home__space-desc">{{ site.data.language.home.space.quote | prepend: '"' | append: '"' }}</p>
    <p class="home__space-cite">{{ site.data.language.home.space.citation | prepend: '&mdash;' }}</p>
  </section>
  <section class="home__matter">
    <h2 class="section__title">{{ site.data.language.home.matter.title }}</h2>
    {{ site.data.language.home.matter.desc | markdownify }}
    <div class="matter__divider">DIVIDER HERE</div>
    <div class="matter__subsections">
      {%- for subsection in site.data.language.home.matter.sections -%}
      <div class="matter__subsection">
        <h3 class="subsection__title">{{ subsection.title }}</h3>
        {{ subsection.desc | markdownify }}
        {%- if subsection.footnote -%}
        <p class="matter__footnote">{{ subsection.footnote }}</p>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
  </section>
  <section class="home__proj-nav">
    <h2 class="section__title">{{ site.data.language.home.proj_nav.title }}</h2>
    {{ site.data.language.home.proj_nav.desc | markdownify }}
    {%- assign submenu = site.data.menus | where_exp: "item", "item.inHomeSub == true" -%}
    <ul class="proj-nav__submenu">
      <li class="proj-nav__subtitle">{{ site.data.language.home.proj_nav.more }}</li>
      {%- for item in submenu -%}
      <li class="proj-nav__submenu-item"><a href="{{ item.url | relative_url }}" title="{{ item.identifier }}">{{ item.title }}</a></li>
      {%- endfor -%}
    </ul>
    {%- assign submenu = site.data.menus | where_exp: "item", "item.inHomeMain == true" -%}
    <ul class="proj-nav__menu">
      {%- for item in submenu -%}
      <li class="proj-nav__menu-item">
        <img src="{{ '/assets/images/home/icon-' | append: item.identifier | append: '.svg' | relative_url }}" alt="" class="proj-nav__menu-icon" />
        {%- if item.url == null -%}
        <div class="proj-nav__menu-title">{{ item.title }}</div>
        {%- else -%}
        <a href="{{ item.url | relative_url }}" title="{{ item.identifier }}" class="proj-nav__menu-title">{{ item.title }}</a>
        {%- endif -%}
        <p>{{ item.desc }}</p>
      </li>
      {%- endfor -%}
    </ul>
  </section>
  <section class="home__recent">
    {% assign recent_posts = site.posts | concat: site.workshops | concat: site.briefs | where_exp: "item", "item.featured_on_home != true" | sort: 'date', 'first' %}
    {%- if recent_posts.size > 0 -%}
      {%- for post in recent_posts limit:3 -%}
      {%- include related-posts-block.html -%}
      {%- endfor -%}
    {%- endif -%}
  </section>
</section>
