---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    <div class="post__content-type">{%- include content-type.html -%}</div>
  </header>
  <section class="post__meta">
    {% include breadcrumbs.html %}
    {%- include authors-list.html -%}
    {%- include date.html -%}
    {%- include last-updated.html -%}
    Photo Caption
    Social Share
  </section>
  <section class="post__img-container">
    {% include post-image.html %}
  </section>
  <aside class="post__sidebar">
    <section class="post__img-container--large">
      {% include post-image.html %}
    </section>
    <section class="post__details">
      Details<br />
      Download<br />
      Related Briefs<br />
    </section>
  </aside>

  <section class="post__content post-content e-content" itemprop="articleBody">
    {{ content }}
  </section>

  <section class="post__footer">
    Social Share<br />
    {% include authors-block.html %}
    Related Reading<br />
    - Tags<br />
    - Related Posts
  </section>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
{% include page-footer.html %}
