---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title | escape }}</h1>
    Content Type<br />
    <section class="post__meta">
      Authors<br />
      Published<br />
      Last Updated: {{ page.last-modified-date | date: '%B %d, %Y' }}<br />
      Last Updated: {{ page.last-modified-date }}<br />
      Photo Caption
    </section>
    Social Share
  </header>
  <section class="post__image">Post Image</section>
  <aside class="post__sidebar">
    Details<br />
    Download<br />
    Related Briefs<br />
  </aside>

  <section class="post__content e-content" itemprop="articleBody">
    {{ content }}
  </section>

  <section class="post__footer">
    Social Share<br />
    Authors Block<br />
    Related Reading<br />
    - Tags<br />
    - Related Posts
  </section>
  {% include page-footer.html %}
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
